extends layout

block content
  script(type='text/javascript', src='javascripts/app.js')

  span(id="help") Press [SPACE] to record a position <br/> (Currently dummy data is being generated) <br/> Press 'n' to start a new session <br/> Press ',' or '.' to browse through the sessions <br/> Drag mouse to move the camera and scroll up/down to zoom in/out


